name: easy_sidemenu
description: An easy to use side menu in flutter and can used for navigation
version: 0.2.1
homepage: https://github.com/Jamalianpour/easy_sidemenu

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

  badges: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter:
